*{
   margin: 0px;
   padding: 0px;
}

.Heading{
  text-align: center;
  margin-top: 20px;
}

@include media-breakpoint-up(sm){
    .Heading {
     display: block;
    }
  }

.form{
   width: 400px;
   margin-left: 350px;
   margin-top: 40px;
   margin-right: 250px;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   flex-direction: column;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 20px;
}


.form input{
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
}


.form button{
   width: 100px;
   font-size: 1.5rem;
   margin-left: 130px;
   border-radius: 20px;
   background-color: green;
   color: white;
   margin-top: 20px;
   margin-bottom: 5px;
}



  
  @include media-breakpoint-up(sm){
    .form {
     display: block;
    }
  } 
  
 